<%- include('../block_inicio') %>
<%- include('../barra_menu') %>
<div class="container" id="con">

    <div class="row">
        <div class="col-8">
          <br><br>
          <div class="row" style="margin-left: 0%;">
            <h1 class="">Cargar Licencias</h1>
          </div>
          <br>

          <div class="d-flex flex-column align-items-end" style="width: auto;">

            <button class="btn btn-secondary btn-sm mb-2" data-toggle="modal" data-target="#myModal3">Licencias Activas</button>
          
            <table id="example" class="table table-bordered" style="text-align: center;">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>DOCENTE</th>
                      <th>LICENCIA</th>
                      <th>DESDE</th>
                      <th>HASTA</th>
                      <th>ACCIÓN</th>
                  </tr>
              </thead>
              <tbody id="tbody">
                  <% var c = 1 %>
                  <% Eventos.forEach(function(e){ %>
                    <tr>
                          <td><%= c++ %></td>
                          <td><%= e.last_name%> <%= e.name_docente%></td>
                          <td><%= e.name_licencia %></td>
                          <td><%= convertObjetDateToString(e.inicio)%></td>
                          <td><%= convertObjetDateToString(e.fin)%></td>
                          <td>  
                              <div class="">
                                  <i id="editar" atr2="<%= e.id_docente %>" atr="<%= e._id %>" class="fas fa-check fa-lg" data-toggle="modal" data-target="#myModal"></i>
                                  <i id="borrar" atr="<%= e._id %>" class="far fa-trash-alt fa-lg ml-3" data-toggle="modal" data-target="#myModal2"></i>
                              </div>
                          </td>
                    </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
          
        </div>

        <div class="col-4 d-flex justify-content-center" style="margin-top: 3%;">
            <div class="flex-column p-3" style="width: 72%;color: gray ;
            background-color:#D8D8D8; border-radius: 15px;">
                <div class="flex-column " style="text-align: center;">
                    <h4>Docentes</h4>
                    <div class="form-group" style="width: auto">
                        <select class="form-control" id="select1">
                            <option selected>Seleccione...</option>
                            <% Docentes.forEach(function(e){ %>
                                <option class="<%=e.dni%>"  value="<%=e._id%>">
                                 <%=e.last_name%>  <%= e.name%> 
                                </option>
                            <%})%>
                        </select>
                    </div>
                </div>

                <br>

                <div class="flex-column" style="text-align: center;">
                    <h4>Licencias</h4>
                    <div class="form-group" style="width: auto">
                        <select class="form-control" id="select2">
                            <option selected>Seleccione...</option>
                            <% Licencias.forEach(function(e){ %>
                                <option value="<%=e._id%>">
                                   <% if (e.name === e.code) { %>
                                        <%= e.name%>
                                    <% }else{ %>
                                        <%= e.name%> <%= e.code%> 
                                    <%}%>
                                </option>
                            <%})%>
                        </select>
                    </div>
                </div>

                <br>

                <div class="flex-column" style="text-align: center;">
                    <h4>Fechas</h4>
                    <div class="form-group lex-column" style="width: auto;">
                        <div>
                            <div>
                                <label style="margin-right: 85%; margin-bottom: -4%;">Desde</label>
                                <input id="startDate"/>
                            </div>
                            <div class="mt-4">
                                <label style="margin-right:85%;margin-bottom: -4%;">Hasta</label>
                                <input id="endDate" />
                            </div>

                        </div>

                    </div>
                </div>
                <br>
                <button id="btnCargar" class="btn btn-primary btn-block">Cargar</button>
                <br>
            </div>

        </div>
    </div>
    
    <!--end div-->
    <br>


<!--Modal -->
<div id="myModal" class="modal fade " tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title"><strong>Confirmar</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <p>Ud. Confirmará la Licencia Seleccionada. ¿Decea hacerlo?</p>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button id="btnConfirm"  style="width: 15%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalPin">Si</button>
        </div>
    
      </div>
    </div>
</div>

<!--Modal2 -->
<div id="myModal2" class="modal fade " tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title"><strong>Eliminar</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <p>Ud. Eliminará la Licencia Seleccionada. ¿Decea hacerlo?</p>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button id="btnEliminar" style="width: 15%;" type="button" class="btn btn-primary">Si</button>
        </div>
    
      </div>
    </div>
</div>

<!--Modal3-->
<div id="myModal3" class="modal fade" tabindex="-1" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title"><strong>Licencias Activas</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body d-flex justify-content-center">
          <table class="table table-bordered" style="width: auto; text-align: center;">
            <thead>
              <tr>
                <th style="text-align: left;">DOCENTE</th>
                <th>INICIO</th>
                <th>FIN</th>
              </tr>
            </thead>
            <tbody>
              <% Activas.forEach(function(e){ %>
                <tr>
                  <td style="text-align: left;"><%= e.last_name%> <%= e.name_docente%></td>
                  <td><%= convertObjetDateToString(e.inicio)%></td>
                  <td><%= convertObjetDateToString(e.fin)%></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    
      </div>
    </div>
</div>


<!--Modal Pin-->
<div id="myModalPin" class="modal fade " tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title"><strong>Confirmar PIN</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
            <input type="text" class="form-control" id="pin" autocomplete="off">
        </div>
        
        <div class="modal-footer">
          <button type="button" onclick=window.location.reload() class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button id="btnpin"  style="width: 19%;" type="button" class="btn btn-primary">Confirmar</button>
        </div>
    
      </div>
    </div>
</div>
  
<% function convertObjetDateToString(date){ %>
<% let dia_ = String(date.getDate()) %>
<% let mes_ = String((date.getMonth() + 1)) %>
<% let año_ = String(date.getFullYear()) %>

<% if (dia_.length == 1) { %>
<% dia_ = '0' + dia_ %>
<% } %>
<% if (mes_.length == 1) { %>
<% mes_ = '0' + mes_ %>
<% } %>
<% return String(dia_ + '/' + mes_ + '/' + año_) %>
<% } %>
<%- include('../block_end') %>
<style>
.fa-check:hover{
    color:rgb(115, 148, 219);
}
.fa-trash-alt:hover{
    color: red;
}
/*Pone scroll al modal*/
/*.modal-body{
  height: 400px;
  width: 100%;
  overflow-y: auto;
}*/
</style>


<script>
let tbody = document.getElementById('tbody')
let fila = document.createElement('tr')
let celda = document.createElement('td')
let btnCargar = document.getElementById('btnCargar')
let select1 = document.getElementById('select1')
let btnConfirm = document.getElementById('btnConfirm')
let btnEliminar = document.getElementById('btnEliminar')
let pin = document.getElementById('pin')
let btnPin = document.getElementById('btnpin')
var id_;

//Creo datepicker 1
$('#startDate').datepicker({
    uiLibrary: 'bootstrap4',
    iconsLibrary: 'fontawesome',
    format: 'dd/mm/yyyy',
    locale: 'es-es'
});

//Creo datepicker 2
$('#endDate').datepicker({
    uiLibrary: 'bootstrap4',
    iconsLibrary: 'fontawesome',
    locale: 'es-es',
    format: 'dd/mm/yyyy'
});

//Tomo el id selecionado
$(".fa-check").click(function () {
  id_ = '';
  id_docente = '';

  id_ = $(this).attr('atr');
  id_docente = $(this).attr('atr2');
  //alert(id_docente)
})
$(".fa-trash-alt").click(function () {
  id_ = '';
  id_ = $(this).attr('atr');
})

//btn
btnCargar.onclick = () => {
    if ($("#select1 option:selected").val() == 'Seleccione...') {alert('Error: Debe Seleccionar un Docente...'); return false}
    if ($("#select2 option:selected").val() == 'Seleccione...') {alert('Error: Debe Seleccionar una Licencia...'); return false}
    if($('#startDate').val() == '' || $('#endDate').val() == ''){alert('Error: Debe Seleccionar una Fecha...'); return false}
    
    //obtengo datos
    let docente = $("#select1 option:selected").val()
    let licencia = $("#select2 option:selected").val()
    let fecha1 = $('#startDate').val()
    let fecha2 = $('#endDate').val()
    
    //Controla que la fecha2 sea simpre mayor qu la fecha1
    if(Obj.firstDateMayorString(fecha1, fecha2)){
        alert('Error: La Primer Fecha Seleccionada es MAYOR que la Segunda...')
        return false
    }
    
   //Conviero fechas en array
    fecha1 = fecha1.split('/',3)
    fecha2 = fecha2.split('/',3)
    
    //Ajax
    Obj.ajaxConfigMsg('POST', '/cargar_licencias', {docente, licencia, fecha1, fecha2}, 
    'La Operacion se Realizo con Exito...',
    [{code:401, msg:'Error in Server: Tipo de Datos Incorrecto...'}])
}//end btn

//btn
btnConfirm.onclick = () => {
    //Escondo el modal anterior
    $('#myModal').modal('hide')
}//end btn

//btn
btnEliminar.onclick = () => {
    Obj.ajaxConfigMsg('DELETE', '/eliminar', {id:id_}, 
    'La Eliminacion Fue Exitosa...',
    [{code:400,msg:'Error in Server: Tipo de Dato Incorrecto...'}], 
    '#myModalPin')
}//end btn

//btn
btnPin.onclick = () => {
    if(pin.value == localStorage.getItem('pin')){
        
        Obj.ajaxConfigMsg('PUT', '/confirmed', {id:id_, docente:id_docente}, 
        'La Confirmación Fue Exitosa...',
        [{code:400,msg:'Error in Server: Tipo de Dato Incorrecto...'},
        {code:401,msg:'Error: Docente con Licencia Activa...'}], 
        '#myModalPin')
    
    }else{
        alert('Error: PIN Incorrecto')
    }//end if pin
}//end btn

$('#myModalPin').on('shown.bs.modal', function () {
    $('#pin').focus();
})

</script>